@import '../utilities/variables/colors';
@import '../utilities/variables/gradients';
@import '../utilities/variables/variables';

#Pokemon {

  @each $type in $single-types {
    [data-type-one="#{nth($type, 1)}"] {
      .evoBlock.evoCond div { border-top-color: nth($type, 2); }
    }
  }

  @each $type1, $types in $doubleTypes {
		[data-type-one="#{$type1}"] {
			@each $type2, $grad in $types {
        @if($type2 == '') {
          .statBarFill{ background: $grad; }
        } @else {
          &[data-type-two="#{$type2}"] {
            .statBarFill{ background: $grad; }
          }
        }
      }
		}
  }

  h1 {
    font-size: 30px;
    margin-bottom: 7px;

    span {
      margin-right: 5px;
      font-size: 18px;
      color: $textLight;
      
      span {
        margin-right: 3px;
        font-size: 14px;
      }
    }

    + p {
      margin-bottom: 9px;
      color: $textLight;
    }
  }

  #basicInfo {
    text-align: center;
  }

  #stats {
    .stat {
      display: grid;
      grid-template-columns: 50px 25px auto;
      column-gap: 10px;
      align-items: center;
      margin-bottom: 5px;

      .statNum { text-align: center; }

      .statBar {
        height: 7px;
        background-color: $grayLight;
        border-radius: 50px;

        .statBarFill {
          height: 7px;
          border-radius: 50px;
        }
      }

      &.total p {
        font-weight: 600;
      }
    }
  }

  #evolution {
    overflow-x: auto;
    max-width: fit-content;
    margin: 0 auto;

    >div {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns:
        repeat(auto-fit, minmax(50px, 150px) minmax(80px, 120px) minmax(50px, 150px) minmax(80px, 120px) minmax(50px, 150px) minmax(80px, 120px) minmax(50px, 150px));
      column-gap: 20px;
      
      >div {
        height: 100%;
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        align-content: space-around;
        align-items: center;

        .evoBlock{
          &.evoCond {
            // min-width: 80px;
            // width: auto;
            // max-width: 120px;
            text-align: center;

            >div {
              width: fit-content;
              border-top-width: 1px;
              border-top-style: solid;
              margin: 0 auto;

              >div { padding: 7px 10px; }
            }
          }

          &.evoImg {
            // min-width: 70px;
            // width: auto;
            // max-width: 150px;

            >img { width: 100%; }
          }
        }
      }
    }
  }

  #weaknesses {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(9, min-content);
    row-gap: 10px;

    .MuiChip-root {
      flex-direction: column;
      padding: 6px;

      &::before {
        margin-right: 0;
        margin-bottom: 6px;
      }

      .MuiChip-label {
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
}