@import '../utilities/variables/variables';

@mixin typeChips($type, $color) {

  &.#{$type} {
    padding: 5px 15px;
    border-radius: 50px;
    text-transform: uppercase;
    color: $white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 5px;
    align-items: center;
    background-color: $color;

    &::before {
      display: block;
      content: '';
      height: 16px;
      width: 16px;
      background: url('../assets/#{$type}.svg') center/contain no-repeat;
    }

    &:last-child { margin-left: 10px; }

  }

}