@import 'variables';

// GRADIENTS
$grad-bug-normal:				(linear-gradient(30deg, $bug 0%, $normal 100%));
$grad-bug-bug:					(linear-gradient(30deg, $bug 0%, $bug 100%));
$grad-bug-dark:					(linear-gradient(30deg, $bug 0%, hsl(103deg 63% 30%) 20%, hsl(168deg 70% 24%) 40%, hsl(201deg 23% 35%) 60%, hsl(262deg 12% 39%) 80%, $dark 100%));
$grad-bug-dragon:				(linear-gradient(30deg, $bug 0%, $dragon 100%));
$grad-bug-electric:			(linear-gradient(30deg, $bug 0%, $electric 100%));
$grad-bug-fairy:				(linear-gradient(30deg, $bug 0%, $fairy 100%));
$grad-bug-fighting:			(linear-gradient(30deg, $bug 0%, $fighting 100%));
$grad-bug-fire:					(linear-gradient(30deg, $bug 0%, $fire 100%)); 
$grad-bug-flying:				(linear-gradient(30deg, $bug 0%, $flying 100%));
$grad-bug-ghost:				(linear-gradient(30deg, $bug 0%, $ghost 100%));
$grad-bug-grass:				(linear-gradient(30deg, $bug 0%, $grass 100%));
$grad-bug-ground:				(linear-gradient(30deg, $bug 0%, $ground 100%));
$grad-bug-ice: 					(linear-gradient(30deg, $bug 0%, $ice 100%));
$grad-bug-poison: 			(linear-gradient(30deg, $bug 0%, $poison 100%));
$grad-bug-psychic:			(linear-gradient(30deg, $bug 0%, $psychic 100%));
$grad-bug-rock:					(linear-gradient(30deg, $bug 0%, $rock 100%));
$grad-bug-steel:				(linear-gradient(30deg, $bug 0%, $steel 100%));
$grad-bug-water:				(linear-gradient(30deg, $bug 0%, $water 100%));

$grad-dark-normal:			(linear-gradient(30deg, $dark 0%, $normal 100%));
$grad-dark-bug:					(linear-gradient(30deg, $dark 0%, hsl(262deg 12% 39%) 20%, hsl(201deg 23% 35%) 40%, hsl(168deg 70% 24%) 60%, hsl(103deg 63% 30%) 80%, $bug 100%));
$grad-dark-dark:				(linear-gradient(30deg, $dark 0%, $dark 100%));
$grad-dark-dragon:			(linear-gradient(30deg, $dark 0%, $dragon 100%));
$grad-dark-electric:		(linear-gradient(30deg, $dark 0%, $electric 100%));
$grad-dark-fairy:				(linear-gradient(30deg, $dark 0%, $fairy 100%));
$grad-dark-fighting:		(linear-gradient(30deg, $dark 0%, $fighting 100%));
$grad-dark-fire:				(linear-gradient(30deg, $dark 0%, $fire 100%)); 
$grad-dark-flying:			(linear-gradient(30deg, $dark 0%, $flying 100%));
$grad-dark-ghost:				(linear-gradient(30deg, $dark 0%, $ghost 100%));
$grad-dark-grass:				(linear-gradient(30deg, $dark 0%, $grass 100%));
$grad-dark-ground:			(linear-gradient(30deg, $dark 0%, $ground 100%));
$grad-dark-ice: 				(linear-gradient(30deg, $dark 0%, $ice 100%));
$grad-dark-poison: 			(linear-gradient(30deg, $dark 0%, $poison 100%));
$grad-dark-psychic:			(linear-gradient(30deg, $dark 0%, $psychic 100%));
$grad-dark-rock:				(linear-gradient(30deg, $dark 0%, $rock 100%));
$grad-dark-steel:				(linear-gradient(30deg, $dark 0%, $steel 100%));
$grad-dark-water:				(linear-gradient(30deg, $dark 0%, $water 100%));

$grad-dragon-normal:		(linear-gradient(30deg, $dragon 0%, $normal 100%));
$grad-dragon-bug:				(linear-gradient(30deg, $dragon 0%, $bug 100%));
$grad-dragon-dark:			(linear-gradient(30deg, $dragon 0%, $dark 100%));
$grad-dragon-dragon:		(linear-gradient(30deg, $dragon 0%, $dragon 100%));
$grad-dragon-electric:	(linear-gradient(30deg, $dragon 0%, $electric 100%));
$grad-dragon-fairy:			(linear-gradient(30deg, $dragon 0%, $fairy 100%));
$grad-dragon-fighting:	(linear-gradient(30deg, $dragon 0%, $fighting 100%));
$grad-dragon-fire:			(linear-gradient(30deg, $dragon 0%, $fire 100%)); 
$grad-dragon-flying:		(linear-gradient(30deg, $dragon 0%, $flying 100%));
$grad-dragon-ghost:			(linear-gradient(30deg, $dragon 0%, $ghost 100%));
$grad-dragon-grass:			(linear-gradient(30deg, $dragon 0%, $grass 100%));
$grad-dragon-ground:		(linear-gradient(30deg, $dragon 0%, $ground 100%));
$grad-dragon-ice: 			(linear-gradient(30deg, $dragon 0%, $ice 100%));
$grad-dragon-poison: 		(linear-gradient(30deg, $dragon 0%, $poison 100%));
$grad-dragon-psychic:		(linear-gradient(30deg, $dragon 0%, $psychic 100%));
$grad-dragon-rock:			(linear-gradient(30deg, $dragon 0%, $rock 100%));
$grad-dragon-steel:			(linear-gradient(30deg, $dragon 0%, $steel 100%));
$grad-dragon-water:			(linear-gradient(30deg, $dragon 0%, $water 100%));

$grad-electric-normal:	(linear-gradient(30deg, $electric 0%, $normal 100%));
$grad-electric-bug:			(linear-gradient(30deg, $electric 0%, $bug 100%));
$grad-electric-dark:		(linear-gradient(30deg, $electric 0%, $dark 100%));
$grad-electric-dragon:	(linear-gradient(30deg, $electric 0%, $dragon 100%));
$grad-electric-electric:(linear-gradient(30deg, $electric 0%, $electric 100%));
$grad-electric-fairy:		(linear-gradient(30deg, $electric 0%, $fairy 100%));
$grad-electric-fighting:(linear-gradient(30deg, $electric 0%, $fighting 100%));
$grad-electric-fire:		(linear-gradient(30deg, $electric 0%, $fire 100%)); 
$grad-electric-flying:	(linear-gradient(30deg, $electric 0%, $flying 100%));
$grad-electric-ghost:		(linear-gradient(30deg, $electric 0%, $ghost 100%));
$grad-electric-grass:		(linear-gradient(30deg, $electric 0%, $grass 100%));
$grad-electric-ground:	(linear-gradient(30deg, $electric 0%, $ground 100%));
$grad-electric-ice: 		(linear-gradient(30deg, $electric 0%, $ice 100%));
$grad-electric-poison: 	(linear-gradient(30deg, $electric 0%, $poison 100%));
$grad-electric-psychic:	(linear-gradient(30deg, $electric 0%, $psychic 100%));
$grad-electric-rock:		(linear-gradient(30deg, $electric 0%, $rock 100%));
$grad-electric-steel:		(linear-gradient(30deg, $electric 0%, $steel 100%));
$grad-electric-water:		(linear-gradient(30deg, $electric 0%, $water 100%));

$grad-fairy-normal:			(linear-gradient(30deg, $fairy 0%, $normal 100%));
$grad-fairy-bug:				(linear-gradient(30deg, $fairy 0%, $bug 100%));
$grad-fairy-dark:				(linear-gradient(30deg, $fairy 0%, $dark 100%));
$grad-fairy-dragon:			(linear-gradient(30deg, $fairy 0%, $dragon 100%));
$grad-fairy-electric:		(linear-gradient(30deg, $fairy 0%, $electric 100%));
$grad-fairy-fairy:			(linear-gradient(30deg, $fairy 0%, $fairy 100%));
$grad-fairy-fighting:		(linear-gradient(30deg, $fairy 0%, $fighting 100%));
$grad-fairy-fire:				(linear-gradient(30deg, $fairy 0%, $fire 100%)); 
$grad-fairy-flying:			(linear-gradient(30deg, $fairy 0%, $flying 100%));
$grad-fairy-ghost:			(linear-gradient(30deg, $fairy 0%, $ghost 100%));
$grad-fairy-grass:			(linear-gradient(30deg, $fairy 0%, $grass 100%));
$grad-fairy-ground:			(linear-gradient(30deg, $fairy 0%, $ground 100%));
$grad-fairy-ice: 				(linear-gradient(30deg, $fairy 0%, $ice 100%));
$grad-fairy-poison: 		(linear-gradient(30deg, $fairy 0%, $poison 100%));
$grad-fairy-psychic:		(linear-gradient(30deg, $fairy 0%, $psychic 100%));
$grad-fairy-rock:				(linear-gradient(30deg, $fairy 0%, $rock 100%));
$grad-fairy-steel:			(linear-gradient(30deg, $fairy 0%, $steel 100%));
$grad-fairy-water:			(linear-gradient(30deg, $fairy 0%, $water 100%));

$grad-fighting-normal:	(linear-gradient(30deg, $fighting 0%, $normal 100%));
$grad-fighting-bug:			(linear-gradient(30deg, $fighting 0%, $bug 100%));
$grad-fighting-dark:		(linear-gradient(30deg, $fighting 0%, $dark 100%));
$grad-fighting-dragon:	(linear-gradient(30deg, $fighting 0%, $dragon 100%));
$grad-fighting-electric:(linear-gradient(30deg, $fighting 0%, $electric 100%));
$grad-fighting-fairy:		(linear-gradient(30deg, $fighting 0%, $fairy 100%));
$grad-fighting-fighting:(linear-gradient(30deg, $fighting 0%, $fighting 100%));
$grad-fighting-fire:		(linear-gradient(30deg, $fighting 0%, $fire 100%)); 
$grad-fighting-flying:	(linear-gradient(30deg, $fighting 0%, $flying 100%));
$grad-fighting-ghost:		(linear-gradient(30deg, $fighting 0%, $ghost 100%));
$grad-fighting-grass:		(linear-gradient(30deg, $fighting 0%, $grass 100%));
$grad-fighting-ground:	(linear-gradient(30deg, $fighting 0%, $ground 100%));
$grad-fighting-ice: 		(linear-gradient(30deg, $fighting 0%, $ice 100%));
$grad-fighting-poison: 	(linear-gradient(30deg, $fighting 0%, $poison 100%));
$grad-fighting-psychic:	(linear-gradient(30deg, $fighting 0%, $psychic 100%));
$grad-fighting-rock:		(linear-gradient(30deg, $fighting 0%, $rock 100%));
$grad-fighting-steel:		(linear-gradient(30deg, $fighting 0%, $steel 100%));
$grad-fighting-water:		(linear-gradient(30deg, $fighting 0%, $water 100%));

$grad-fire-normal:			(linear-gradient(30deg, $fire 0%, $normal 100%));
$grad-fire-bug:					(linear-gradient(30deg, $fire 0%, $bug 100%));
$grad-fire-dark:				(linear-gradient(30deg, $fire 0%, $dark 100%));
$grad-fire-dragon:			(linear-gradient(30deg, $fire 0%, $dragon 100%));
$grad-fire-electric:		(linear-gradient(30deg, $fire 0%, $electric 100%));
$grad-fire-fairy:				(linear-gradient(30deg, $fire 0%, $fairy 100%));
$grad-fire-fighting:		(linear-gradient(30deg, $fire 0%, $fighting 100%));
$grad-fire-fire:				(linear-gradient(30deg, $fire 0%, $fire 100%)); 
$grad-fire-flying:			(linear-gradient(30deg, $fire 0%, $flying 100%));
$grad-fire-ghost:				(linear-gradient(30deg, $fire 0%, $ghost 100%));
$grad-fire-grass:				(linear-gradient(30deg, $fire 0%, $grass 100%));
$grad-fire-ground:			(linear-gradient(30deg, $fire 0%, $ground 100%));
$grad-fire-ice: 				(linear-gradient(30deg, $fire 0%, $ice 100%));
$grad-fire-poison:	 		(linear-gradient(30deg, $fire 0%, $poison 100%));
$grad-fire-psychic:			(linear-gradient(30deg, $fire 0%, $psychic 100%));
$grad-fire-rock:				(linear-gradient(30deg, $fire 0%, $rock 100%));
$grad-fire-steel:				(linear-gradient(30deg, $fire 0%, $steel 100%));
$grad-fire-water:				(linear-gradient(30deg, $fire 0%, $water 100%));

$grad-flying-normal:		(linear-gradient(30deg, $flying 0%, $normal 100%));
$grad-flying-bug:				(linear-gradient(30deg, $flying 0%, $bug 100%));
$grad-flying-dark:			(linear-gradient(30deg, $flying 0%, $dark 100%));
$grad-flying-dragon:		(linear-gradient(30deg, $flying 0%, $dragon 100%));
$grad-flying-electric:	(linear-gradient(30deg, $flying 0%, $electric 100%));
$grad-flying-fairy:			(linear-gradient(30deg, $flying 0%, $fairy 100%));
$grad-flying-fighting:	(linear-gradient(30deg, $flying 0%, $fighting 100%));
$grad-flying-fire:			(linear-gradient(30deg, $flying 0%, $fire 100%)); 
$grad-flying-flying:		(linear-gradient(30deg, $flying 0%, $flying 100%));
$grad-flying-ghost:			(linear-gradient(30deg, $flying 0%, $ghost 100%));
$grad-flying-grass:			(linear-gradient(30deg, $flying 0%, $grass 100%));
$grad-flying-ground:		(linear-gradient(30deg, $flying 0%, $ground 100%));
$grad-flying-ice: 			(linear-gradient(30deg, $flying 0%, $ice 100%));
$grad-flying-poison: 		(linear-gradient(30deg, $flying 0%, $poison 100%));
$grad-flying-psychic:		(linear-gradient(30deg, $flying 0%, $psychic 100%));
$grad-flying-rock:			(linear-gradient(30deg, $flying 0%, $rock 100%));
$grad-flying-steel:			(linear-gradient(30deg, $flying 0%, $steel 100%));
$grad-flying-water:			(linear-gradient(30deg, $flying 0%, $water 100%));

$grad-ghost-normal:			(linear-gradient(30deg, $ghost 0%, $normal 100%));
$grad-ghost-bug:				(linear-gradient(30deg, $ghost 0%, $bug 100%));
$grad-ghost-dark:				(linear-gradient(30deg, $ghost 0%, $dark 100%));
$grad-ghost-dragon:			(linear-gradient(30deg, $ghost 0%, $dragon 100%));
$grad-ghost-electric:		(linear-gradient(30deg, $ghost 0%, $electric 100%));
$grad-ghost-fairy:			(linear-gradient(30deg, $ghost 0%, $fairy 100%));
$grad-ghost-fighting:		(linear-gradient(30deg, $ghost 0%, $fighting 100%));
$grad-ghost-fire:				(linear-gradient(30deg, $ghost 0%, $fire 100%)); 
$grad-ghost-flying:			(linear-gradient(30deg, $ghost 0%, $flying 100%));
$grad-ghost-ghost:			(linear-gradient(30deg, $ghost 0%, $ghost 100%));
$grad-ghost-grass:			(linear-gradient(30deg, $ghost 0%, $grass 100%));
$grad-ghost-ground:			(linear-gradient(30deg, $ghost 0%, $ground 100%));
$grad-ghost-ice: 				(linear-gradient(30deg, $ghost 0%, $ice 100%));
$grad-ghost-poison: 		(linear-gradient(30deg, $ghost 0%, $poison 100%));
$grad-ghost-psychic:		(linear-gradient(30deg, $ghost 0%, $psychic 100%));
$grad-ghost-rock:				(linear-gradient(30deg, $ghost 0%, $rock 100%));
$grad-ghost-steel:			(linear-gradient(30deg, $ghost 0%, $steel 100%));
$grad-ghost-water:			(linear-gradient(30deg, $ghost 0%, $water 100%));

$grad-grass-normal:			(linear-gradient(30deg, $grass 0%, $normal 100%));
$grad-grass-bug:				(linear-gradient(30deg, $grass 0%, $bug 100%));
$grad-grass-dark:				(linear-gradient(30deg, $grass 0%, $dark 100%));
$grad-grass-dragon:			(linear-gradient(30deg, $grass 0%, $dragon 100%));
$grad-grass-electric:		(linear-gradient(30deg, $grass 0%, $electric 100%));
$grad-grass-fairy:			(linear-gradient(30deg, $grass 0%, $fairy 100%));
$grad-grass-fighting:		(linear-gradient(30deg, $grass 0%, $fighting 100%));
$grad-grass-fire:				(linear-gradient(30deg, $grass 0%, $fire 100%)); 
$grad-grass-flying:			(linear-gradient(30deg, $grass 0%, $flying 100%));
$grad-grass-ghost:			(linear-gradient(30deg, $grass 0%, $ghost 100%));
$grad-grass-grass:			(linear-gradient(30deg, $grass 0%, hsl(135deg 45% 42%) 50%, hsl(153deg 92% 25%) 100%));
$grad-grass-ground:			(linear-gradient(30deg, $grass 0%, $ground 100%));
$grad-grass-ice: 				(linear-gradient(30deg, $grass 0%, $ice 100%));
$grad-grass-poison: 		(linear-gradient(30deg, $grass 0%, hsl(165deg 100% 36%) 24%, hsl(178deg 83% 37%) 35%, hsl(196deg 43% 52%) 45%, hsl(211deg 40% 58%) 55%, hsl(230deg 42% 63%) 65%, hsl(254deg, 45%, 64%) 76%, $poison 100%));
$grad-grass-psychic:		(linear-gradient(30deg, $grass 0%, $psychic 100%));
$grad-grass-rock:				(linear-gradient(30deg, $grass 0%, $rock 100%));
$grad-grass-steel:			(linear-gradient(30deg, $grass 0%, $steel 100%));
$grad-grass-water:			(linear-gradient(30deg, $grass 0%, $water 100%));

$grad-ground-normal:		(linear-gradient(30deg, $ground 0%, $normal 100%));
$grad-ground-bug:				(linear-gradient(30deg, $ground 0%, $bug 100%));
$grad-ground-dark:			(linear-gradient(30deg, $ground 0%, $dark 100%));
$grad-ground-dragon:		(linear-gradient(30deg, $ground 0%, $dragon 100%));
$grad-ground-electric:	(linear-gradient(30deg, $ground 0%, $electric 100%));
$grad-ground-fairy:			(linear-gradient(30deg, $ground 0%, $fairy 100%));
$grad-ground-fighting:	(linear-gradient(30deg, $ground 0%, $fighting 100%));
$grad-ground-fire:			(linear-gradient(30deg, $ground 0%, $fire 100%)); 
$grad-ground-flying:		(linear-gradient(30deg, $ground 0%, $flying 100%));
$grad-ground-ghost:			(linear-gradient(30deg, $ground 0%, $ghost 100%));
$grad-ground-grass:			(linear-gradient(30deg, $ground 0%, $grass 100%));
$grad-ground-ground:		(linear-gradient(30deg, $ground 0%, $ground 100%));
$grad-ground-ice: 			(linear-gradient(30deg, $ground 0%, $ice 100%));
$grad-ground-poison:	 	(linear-gradient(30deg, $ground 0%, $poison 100%));
$grad-ground-psychic:		(linear-gradient(30deg, $ground 0%, $psychic 100%));
$grad-ground-rock:			(linear-gradient(30deg, $ground 0%, $rock 100%));
$grad-ground-steel:			(linear-gradient(30deg, $ground 0%, $steel 100%));
$grad-ground-water:			(linear-gradient(30deg, $ground 0%, $water 100%));

$grad-ice-normal:				(linear-gradient(30deg, $ice 0%, $normal 100%));
$grad-ice-bug:					(linear-gradient(30deg, $ice 0%, $bug 100%));
$grad-ice-dark:					(linear-gradient(30deg, $ice 0%, $dark 100%));
$grad-ice-dragon:				(linear-gradient(30deg, $ice 0%, $dragon 100%));
$grad-ice-electric:			(linear-gradient(30deg, $ice 0%, $electric 100%));
$grad-ice-fairy:				(linear-gradient(30deg, $ice 0%, $fairy 100%));
$grad-ice-fighting:			(linear-gradient(30deg, $ice 0%, $fighting 100%));
$grad-ice-fire:					(linear-gradient(30deg, $ice 0%, $fire 100%)); 
$grad-ice-flying:				(linear-gradient(30deg, $ice 0%, $flying 100%));
$grad-ice-ghost:				(linear-gradient(30deg, $ice 0%, $ghost 100%));
$grad-ice-grass:				(linear-gradient(30deg, $ice 0%, $grass 100%));
$grad-ice-ground:				(linear-gradient(30deg, $ice 0%, $ground 100%));
$grad-ice-ice: 					(linear-gradient(30deg, $ice 0%, $ice 100%));
$grad-ice-poison: 			(linear-gradient(30deg, $ice 0%, $poison 100%));
$grad-ice-psychic:			(linear-gradient(30deg, $ice 0%, $psychic 100%));
$grad-ice-rock:					(linear-gradient(30deg, $ice 0%, $rock 100%));
$grad-ice-steel:				(linear-gradient(30deg, $ice 0%, $steel 100%));
$grad-ice-water:				(linear-gradient(30deg, $ice 0%, $water 100%));

$grad-normal-normal:		(linear-gradient(30deg, $normal 0%, $normal 100%));
$grad-normal-bug:				(linear-gradient(30deg, $normal 0%, $bug 100%));
$grad-normal-dark:			(linear-gradient(30deg, $normal 0%, $dark 100%));
$grad-normal-dragon:		(linear-gradient(30deg, $normal 0%, $dragon 100%));
$grad-normal-electric:	(linear-gradient(30deg, $normal 0%, $electric 100%));
$grad-normal-fairy:			(linear-gradient(30deg, $normal 0%, $fairy 100%));
$grad-normal-fighting:	(linear-gradient(30deg, $normal 0%, $fighting 100%));
$grad-normal-fire:			(linear-gradient(30deg, $normal 0%, $fire 100%)); 
$grad-normal-flying:		(linear-gradient(30deg, $normal 0%, $flying 100%));
$grad-normal-ghost:			(linear-gradient(30deg, $normal 0%, $ghost 100%));
$grad-normal-grass:			(linear-gradient(30deg, $normal 0%, $grass 100%));
$grad-normal-ground:		(linear-gradient(30deg, $normal 0%, $ground 100%));
$grad-normal-ice: 			(linear-gradient(30deg, $normal 0%, $ice 100%));
$grad-normal-poison: 		(linear-gradient(30deg, $normal 0%, $poison 100%));
$grad-normal-psychic:		(linear-gradient(30deg, $normal 0%, $psychic 100%));
$grad-normal-rock:			(linear-gradient(30deg, $normal 0%, $rock 100%));
$grad-normal-steel:			(linear-gradient(30deg, $normal 0%, $steel 100%));
$grad-normal-water:			(linear-gradient(30deg, $normal 0%, $water 100%));

$grad-poison-normal:		(linear-gradient(30deg, $poison 0%, $normal 100%));
$grad-poison-bug:				(linear-gradient(30deg, $poison 0%, $bug 100%));
$grad-poison-dark:			(linear-gradient(30deg, $poison 0%, $dark 100%));
$grad-poison-dragon:		(linear-gradient(30deg, $poison 0%, $dragon 100%));
$grad-poison-electric:	(linear-gradient(30deg, $poison 0%, $electric 100%));
$grad-poison-fairy:			(linear-gradient(30deg, $poison 0%, $fairy 100%));
$grad-poison-fighting:	(linear-gradient(30deg, $poison 0%, $fighting 100%));
$grad-poison-fire:			(linear-gradient(30deg, $poison 0%, $fire 100%)); 
$grad-poison-flying:		(linear-gradient(30deg, $poison 0%, $flying 100%));
$grad-poison-ghost:			(linear-gradient(30deg, $poison 0%, $ghost 100%));
$grad-poison-grass:			(linear-gradient($poison 0%, hsl(254deg, 45%, 64%) 24%, hsl(230deg 42% 63%) 35%, hsl(211deg 40% 58%) 45%, hsl(196deg 43% 52%) 55%, hsl(178deg 83% 37%) 65%, hsl(165deg 100% 36%) 76%, $grass 100%));
$grad-poison-ground:		(linear-gradient(30deg, $poison 0%, $ground 100%));
$grad-poison-ice: 			(linear-gradient(30deg, $poison 0%, $ice 100%));
$grad-poison-poison: 		(linear-gradient(30deg, $poison 0%, $poison 100%));
$grad-poison-psychic:		(linear-gradient(30deg, $poison 0%, $psychic 100%));
$grad-poison-rock:			(linear-gradient(30deg, $poison 0%, $rock 100%));
$grad-poison-steel:			(linear-gradient(30deg, $poison 0%, $steel 100%));
$grad-poison-water:			(linear-gradient(30deg, $poison 0%, $water 100%));

$grad-psychic-normal:		(linear-gradient(30deg, $psychic 0%, $normal 100%));
$grad-psychic-bug:			(linear-gradient(30deg, $psychic 0%, $bug 100%));
$grad-psychic-dark:			(linear-gradient(30deg, $psychic 0%, $dark 100%));
$grad-psychic-dragon:		(linear-gradient(30deg, $psychic 0%, $dragon 100%));
$grad-psychic-electric:	(linear-gradient(30deg, $psychic 0%, $electric 100%));
$grad-psychic-fairy:		(linear-gradient(30deg, $psychic 0%, $fairy 100%));
$grad-psychic-fighting:	(linear-gradient(30deg, $psychic 0%, $fighting 100%));
$grad-psychic-fire:			(linear-gradient(30deg, $psychic 0%, $fire 100%)); 
$grad-psychic-flying:		(linear-gradient(30deg, $psychic 0%, $flying 100%));
$grad-psychic-ghost:		(linear-gradient(30deg, $psychic 0%, $ghost 100%));
$grad-psychic-grass:		(linear-gradient(30deg, $psychic 0%, $grass 100%));
$grad-psychic-ground:		(linear-gradient(30deg, $psychic 0%, $ground 100%));
$grad-psychic-ice: 			(linear-gradient(30deg, $psychic 0%, $ice 100%));
$grad-psychic-poison: 	(linear-gradient(30deg, $psychic 0%, $poison 100%));
$grad-psychic-psychic:	(linear-gradient(30deg, $psychic 0%, $psychic 100%));
$grad-psychic-rock:			(linear-gradient(30deg, $psychic 0%, $rock 100%));
$grad-psychic-steel:		(linear-gradient(30deg, $psychic 0%, $steel 100%));
$grad-psychic-water:		(linear-gradient(30deg, $psychic 0%, $water 100%));

$grad-rock-normal:			(linear-gradient(30deg, $rock 0%, $normal 100%));
$grad-rock-bug:					(linear-gradient(30deg, $rock 0%, $bug 100%));
$grad-rock-dark:				(linear-gradient(30deg, $rock 0%, $dark 100%));
$grad-rock-dragon:			(linear-gradient(30deg, $rock 0%, $dragon 100%));
$grad-rock-electric:		(linear-gradient(30deg, $rock 0%, $electric 100%));
$grad-rock-fairy:				(linear-gradient(30deg, $rock 0%, $fairy 100%));
$grad-rock-fighting:		(linear-gradient(30deg, $rock 0%, $fighting 100%));
$grad-rock-fire:				(linear-gradient(30deg, $rock 0%, $fire 100%)); 
$grad-rock-flying:			(linear-gradient(30deg, $rock 0%, $flying 100%));
$grad-rock-ghost:				(linear-gradient(30deg, $rock 0%, $ghost 100%));
$grad-rock-grass:				(linear-gradient(30deg, $rock 0%, $grass 100%));
$grad-rock-ground:			(linear-gradient(30deg, $rock 0%, $ground 100%));
$grad-rock-ice: 				(linear-gradient(30deg, $rock 0%, $ice 100%));
$grad-rock-poison: 			(linear-gradient(30deg, $rock 0%, $poison 100%));
$grad-rock-psychic:			(linear-gradient(30deg, $rock 0%, $psychic 100%));
$grad-rock-rock:				(linear-gradient(30deg, $rock 0%, $rock 100%));
$grad-rock-steel:				(linear-gradient(30deg, $rock 0%, $steel 100%));
$grad-rock-water:				(linear-gradient(30deg, $rock 0%, $water 100%));

$grad-steel-normal:			(linear-gradient(30deg, $steel 0%, $normal 100%));
$grad-steel-bug:				(linear-gradient(30deg, $steel 0%, $bug 100%));
$grad-steel-dark:				(linear-gradient(30deg, $steel 0%, $dark 100%));
$grad-steel-dragon:			(linear-gradient(30deg, $steel 0%, $dragon 100%));
$grad-steel-electric:		(linear-gradient(30deg, $steel 0%, $electric 100%));
$grad-steel-fairy:			(linear-gradient(30deg, $steel 0%, $fairy 100%));
$grad-steel-fighting:		(linear-gradient(30deg, $steel 0%, $fighting 100%));
$grad-steel-fire:				(linear-gradient(30deg, $steel 0%, $fire 100%)); 
$grad-steel-flying:			(linear-gradient(30deg, $steel 0%, $flying 100%));
$grad-steel-ghost:			(linear-gradient(30deg, $steel 0%, $ghost 100%));
$grad-steel-grass:			(linear-gradient(30deg, $steel 0%, $grass 100%));
$grad-steel-ground:			(linear-gradient(30deg, $steel 0%, $ground 100%));
$grad-steel-ice: 				(linear-gradient(30deg, $steel 0%, $ice 100%));
$grad-steel-poison: 		(linear-gradient(30deg, $steel 0%, $poison 100%));
$grad-steel-psychic:		(linear-gradient(30deg, $steel 0%, $psychic 100%));
$grad-steel-rock:				(linear-gradient(30deg, $steel 0%, $rock 100%));
$grad-steel-steel:			(linear-gradient(30deg, $steel 0%, $steel 100%));
$grad-steel-water:			(linear-gradient(30deg, $steel 0%, $water 100%));

$grad-water-normal:			(linear-gradient(30deg, $water 0%, $normal 100%));
$grad-water-bug:				(linear-gradient(30deg, $water 0%, $bug 100%));
$grad-water-dark:				(linear-gradient(30deg, $water 0%, $dark 100%));
$grad-water-dragon:			(linear-gradient(30deg, $water 0%, $dragon 100%));
$grad-water-electric:		(linear-gradient(30deg, $water 0%, $electric 100%));
$grad-water-fairy:			(linear-gradient(30deg, $water 0%, $fairy 100%));
$grad-water-fighting:		(linear-gradient(30deg, $water 0%, $fighting 100%));
$grad-water-fire:				(linear-gradient(30deg, $water 0%, $fire 100%)); 
$grad-water-flying:			(linear-gradient(30deg, $water 0%, $flying 100%));
$grad-water-ghost:			(linear-gradient(30deg, $water 0%, $ghost 100%));
$grad-water-grass:			(linear-gradient(30deg, $water 0%, $grass 100%));
$grad-water-ground:			(linear-gradient(30deg, $water 0%, $ground 100%));
$grad-water-ice: 				(linear-gradient(30deg, $water 0%, $ice 100%));
$grad-water-poison:	 		(linear-gradient(30deg, $water 0%, $poison 100%));
$grad-water-psychic:		(linear-gradient(30deg, $water 0%, $psychic 100%));
$grad-water-rock:				(linear-gradient(30deg, $water 0%, $rock 100%));
$grad-water-steel:			(linear-gradient(30deg, $water 0%, $steel 100%));
$grad-water-water:			(linear-gradient(30deg, $water 0%, $water 100%));

$types: (
	'bug1': (
		'undefined2': ($grad-bug-bug),
		'dark2': ($grad-bug-dark),
		'dragon2': ($grad-bug-dragon),
		'electric2': ($grad-bug-electric),
		'fairy2': ($grad-bug-fairy),
		'fighting2': ($grad-bug-fighting),
		'fire2': ($grad-bug-fire),
		'flying2': ($grad-bug-flying),
		'ghost2': ($grad-bug-ghost),
		'grass2': ($grad-bug-grass),
		'ground2': ($grad-bug-ground),
		'ice2': ($grad-bug-ice),
		'normal2': ($grad-bug-normal),
		'poison2': ($grad-bug-poison),
		'psychic2': ($grad-bug-psychic),
		'rock2': ($grad-bug-rock),
		'steel2': ($grad-bug-steel),
		'water2': ($grad-bug-water)
	),
	'dark1': (
		'undefined2': ($grad-dark-dark),
		'bug2': ($grad-dark-bug),
		'dragon2': ($grad-dark-dragon),
		'electric2': ($grad-dark-electric),
		'fairy2': ($grad-dark-fairy),
		'fighting2': ($grad-dark-fighting),
		'fire2': ($grad-dark-fire),
		'flying2': ($grad-dark-flying),
		'ghost2': ($grad-dark-ghost),
		'grass2': ($grad-dark-grass),
		'ground2': ($grad-dark-ground),
		'ice2': ($grad-dark-ice),
		'normal2': ($grad-dark-normal),
		'poison2': ($grad-dark-poison),
		'psychic2': ($grad-dark-psychic),
		'rock2': ($grad-dark-rock),
		'steel2': ($grad-dark-steel),
		'water2': ($grad-dark-water)
	),
	'dragon1': (
		'undefined2': ($grad-dragon-dragon),
		'bug2': ($grad-dragon-bug),
		'dark2': ($grad-dragon-dark),
		'electric2': ($grad-dragon-electric),
		'fairy2': ($grad-dragon-fairy),
		'fighting2': ($grad-dragon-fighting),
		'fire2': ($grad-dragon-fire),
		'flying2': ($grad-dragon-flying),
		'ghost2': ($grad-dragon-ghost),
		'grass2': ($grad-dragon-grass),
		'ground2': ($grad-dragon-ground),
		'ice2': ($grad-dragon-ice),
		'normal2': ($grad-dragon-normal),
		'poison2': ($grad-dragon-poison),
		'psychic2': ($grad-dragon-psychic),
		'rock2': ($grad-dragon-rock),
		'steel2': ($grad-dragon-steel),
		'water2': ($grad-dragon-water)
	),
	'electric1': (
		'undefined2': ($grad-electric-electric),
		'bug2': ($grad-electric-bug),
		'dark2': ($grad-electric-dark),
		'dragon2': ($grad-electric-dragon),
		'fairy2': ($grad-electric-fairy),
		'fighting2': ($grad-electric-fighting),
		'fire2': ($grad-electric-fire),
		'flying2': ($grad-electric-flying),
		'ghost2': ($grad-electric-ghost),
		'grass2': ($grad-electric-grass),
		'ground2': ($grad-electric-ground),
		'ice2': ($grad-electric-ice),
		'normal2': ($grad-electric-normal),
		'poison2': ($grad-electric-poison),
		'psychic2': ($grad-electric-psychic),
		'rock2': ($grad-electric-rock),
		'steel2': ($grad-electric-steel),
		'water2': ($grad-electric-water)
	),
	'fairy1': (
		'undefined2': ($grad-fairy-fairy),
		'bug2': ($grad-fairy-bug),
		'dark2': ($grad-fairy-dark),
		'dragon2': ($grad-fairy-dragon),
		'electric2': ($grad-fairy-electric),
		'fighting2': ($grad-fairy-fighting),
		'fire2': ($grad-fairy-fire),
		'flying2': ($grad-fairy-flying),
		'ghost2': ($grad-fairy-ghost),
		'grass2': ($grad-fairy-grass),
		'ground2': ($grad-fairy-ground),
		'ice2': ($grad-fairy-ice),
		'normal2': ($grad-fairy-normal),
		'poison2': ($grad-fairy-poison),
		'psychic2': ($grad-fairy-psychic),
		'rock2': ($grad-fairy-rock),
		'steel2': ($grad-fairy-steel),
		'water2': ($grad-fairy-water)
	),
	'fighting1': (
		'undefined2': ($grad-fighting-fighting),
		'bug2': ($grad-fighting-bug),
		'dark2': ($grad-fighting-dark),
		'dragon2': ($grad-fighting-dragon),
		'electric2': ($grad-fighting-electric),
		'fairy2': ($grad-fighting-fairy),
		'fire2': ($grad-fighting-fire),
		'flying2': ($grad-fighting-flying),
		'ghost2': ($grad-fighting-ghost),
		'grass2': ($grad-fighting-grass),
		'ground2': ($grad-fighting-ground),
		'ice2': ($grad-fighting-ice),
		'normal2': ($grad-fighting-normal),
		'poison2': ($grad-fighting-poison),
		'psychic2': ($grad-fighting-psychic),
		'rock2': ($grad-fighting-rock),
		'steel2': ($grad-fighting-steel),
		'water2': ($grad-fighting-water)
	),
	'fire1': (
		'undefined2': ($grad-fire-fire),
		'bug2': ($grad-fire-bug),
		'dark2': ($grad-fire-dark),
		'dragon2': ($grad-fire-dragon),
		'electric2': ($grad-fire-electric),
		'fairy2': ($grad-fire-fairy),
		'fighting2': ($grad-fire-fighting),
		'flying2': ($grad-fire-flying),
		'ghost2': ($grad-fire-ghost),
		'grass2': ($grad-fire-grass),
		'ground2': ($grad-fire-ground),
		'ice2': ($grad-fire-ice),
		'normal2': ($grad-fire-normal),
		'poison2': ($grad-fire-poison),
		'psychic2': ($grad-fire-psychic),
		'rock2': ($grad-fire-rock),
		'steel2': ($grad-fire-steel),
		'water2': ($grad-fire-water)
	),
	'flying1': (
		'undefined2': ($grad-flying-flying),
		'bug2': ($grad-flying-bug),
		'dark2': ($grad-flying-dark),
		'dragon2': ($grad-flying-dragon),
		'electric2': ($grad-flying-electric),
		'fairy2': ($grad-flying-fairy),
		'fighting2': ($grad-flying-fighting),
		'fire2': ($grad-flying-fire),
		'ghost2': ($grad-flying-ghost),
		'grass2': ($grad-flying-grass),
		'ground2': ($grad-flying-ground),
		'ice2': ($grad-flying-ice),
		'normal2': ($grad-flying-normal),
		'poison2': ($grad-flying-poison),
		'psychic2': ($grad-flying-psychic),
		'rock2': ($grad-flying-rock),
		'steel2': ($grad-flying-steel),
		'water2': ($grad-flying-water)
	),
	'ghost1': (
		'undefined2': ($grad-ghost-ghost),
		'bug2': ($grad-ghost-bug),
		'dark2': ($grad-ghost-dark),
		'dragon2': ($grad-ghost-dragon),
		'electric2': ($grad-ghost-electric),
		'fairy2': ($grad-ghost-fairy),
		'fighting2': ($grad-ghost-fighting),
		'fire2': ($grad-ghost-fire),
		'flying2': ($grad-ghost-flying),
		'grass2': ($grad-ghost-grass),
		'ground2': ($grad-ghost-ground),
		'ice2': ($grad-ghost-ice),
		'normal2': ($grad-ghost-normal),
		'poison2': ($grad-ghost-poison),
		'psychic2': ($grad-ghost-psychic),
		'rock2': ($grad-ghost-rock),
		'steel2': ($grad-ghost-steel),
		'water2': ($grad-ghost-water)
	),
	'grass1': (
		'undefined2': ($grad-grass-grass),
		'bug2': ($grad-grass-bug),
		'dark2': ($grad-grass-dark),
		'dragon2': ($grad-grass-dragon),
		'electric2': ($grad-grass-electric),
		'fairy2': ($grad-grass-fairy),
		'fighting2': ($grad-grass-fighting),
		'fire2': ($grad-grass-fire),
		'flying2': ($grad-grass-flying),
		'ghost2': ($grad-grass-ghost),
		'ground2': ($grad-grass-ground),
		'ice2': ($grad-grass-ice),
		'normal2': ($grad-grass-normal),
		'poison2': ($grad-grass-poison),
		'psychic2': ($grad-grass-psychic),
		'rock2': ($grad-grass-rock),
		'steel2': ($grad-grass-steel),
		'water2': ($grad-grass-water)
	),
	'ground1': (
		'undefined2': ($grad-ground-ground),
		'bug2': ($grad-ground-bug),
		'dark2': ($grad-ground-dark),
		'dragon2': ($grad-ground-dragon),
		'electric2': ($grad-ground-electric),
		'fairy2': ($grad-ground-fairy),
		'fighting2': ($grad-ground-fighting),
		'fire2': ($grad-ground-fire),
		'flying2': ($grad-ground-flying),
		'ghost2': ($grad-ground-ghost),
		'grass2': ($grad-ground-grass),
		'ice2': ($grad-ground-ice),
		'normal2': ($grad-ground-normal),
		'poison2': ($grad-ground-poison),
		'psychic2': ($grad-ground-psychic),
		'rock2': ($grad-ground-rock),
		'steel2': ($grad-ground-steel),
		'water2': ($grad-ground-water)
	),
	'ice1': (
		'undefined2': ($grad-ice-ice),
		'bug2': ($grad-ice-bug),
		'dark2': ($grad-ice-dark),
		'dragon2': ($grad-ice-dragon),
		'electric2': ($grad-ice-electric),
		'fairy2': ($grad-ice-fairy),
		'fighting2': ($grad-ice-fighting),
		'fire2': ($grad-ice-fire),
		'flying2': ($grad-ice-flying),
		'ghost2': ($grad-ice-ghost),
		'grass2': ($grad-ice-grass),
		'ground2': ($grad-ice-ground),
		'normal2': ($grad-ice-normal),
		'poison2': ($grad-ice-poison),
		'psychic2': ($grad-ice-psychic),
		'rock2': ($grad-ice-rock),
		'steel2': ($grad-ice-steel),
		'water2': ($grad-ice-water)
	),
	'normal1': (
		'undefined2': ($grad-normal-normal),
		'bug2': ($grad-normal-bug),
		'dark2': ($grad-normal-dark),
		'dragon2': ($grad-normal-dragon),
		'electric2': ($grad-normal-electric),
		'fairy2': ($grad-normal-fairy),
		'fighting2': ($grad-normal-fighting),
		'fire2': ($grad-normal-fire),
		'flying2': ($grad-normal-flying),
		'ghost2': ($grad-normal-ghost),
		'grass2': ($grad-normal-grass),
		'ground2': ($grad-normal-ground),
		'ice2': ($grad-normal-ice),
		'poison2': ($grad-normal-poison),
		'psychic2': ($grad-normal-psychic),
		'rock2': ($grad-normal-rock),
		'steel2': ($grad-normal-steel),
		'water2': ($grad-normal-water)
	),
	'poison1': (
		'undefined2': ($grad-poison-poison),
		'bug2': ($grad-poison-bug),
		'dark2': ($grad-poison-dark),
		'dragon2': ($grad-poison-dragon),
		'electric2': ($grad-poison-electric),
		'fairy2': ($grad-poison-fairy),
		'fighting2': ($grad-poison-fighting),
		'fire2': ($grad-poison-fire),
		'flying2': ($grad-poison-flying),
		'ghost2': ($grad-poison-ghost),
		'grass2': ($grad-poison-grass),
		'ground2': ($grad-poison-ground),
		'ice2': ($grad-poison-ice),
		'normal2': ($grad-poison-normal),
		'psychic2': ($grad-poison-psychic),
		'rock2': ($grad-poison-rock),
		'steel2': ($grad-poison-steel),
		'water2': ($grad-poison-water)
	),
	'psychic1': (
		'undefined2': ($grad-psychic-psychic),
		'bug2': ($grad-psychic-bug),
		'dark2': ($grad-psychic-dark),
		'dragon2': ($grad-psychic-dragon),
		'electric2': ($grad-psychic-electric),
		'fairy2': ($grad-psychic-fairy),
		'fighting2': ($grad-psychic-fighting),
		'fire2': ($grad-psychic-fire),
		'flying2': ($grad-psychic-flying),
		'ghost2': ($grad-psychic-ghost),
		'grass2': ($grad-psychic-grass),
		'ground2': ($grad-psychic-ground),
		'ice2': ($grad-psychic-ice),
		'normal2': ($grad-psychic-normal),
		'poison2': ($grad-psychic-poison),
		'rock2': ($grad-psychic-rock),
		'steel2': ($grad-psychic-steel),
		'water2': ($grad-psychic-water)
	),
	'rock1': (
		'undefined2': ($grad-rock-rock),
		'bug2': ($grad-rock-bug),
		'dark2': ($grad-rock-dark),
		'dragon2': ($grad-rock-dragon),
		'electric2': ($grad-rock-electric),
		'fairy2': ($grad-rock-fairy),
		'fighting2': ($grad-rock-fighting),
		'fire2': ($grad-rock-fire),
		'flying2': ($grad-rock-flying),
		'ghost2': ($grad-rock-ghost),
		'grass2': ($grad-rock-grass),
		'ground2': ($grad-rock-ground),
		'ice2': ($grad-rock-ice),
		'normal2': ($grad-rock-normal),
		'poison2': ($grad-rock-poison),
		'psychic2': ($grad-rock-psychic),
		'steel2': ($grad-rock-steel),
		'water2': ($grad-rock-water)
	),
	'steel1': (
		'undefined2': ($grad-steel-steel),
		'bug2': ($grad-steel-bug),
		'dark2': ($grad-steel-dark),
		'dragon2': ($grad-steel-dragon),
		'electric2': ($grad-steel-electric),
		'fairy2': ($grad-steel-fairy),
		'fighting2': ($grad-steel-fighting),
		'fire2': ($grad-steel-fire),
		'flying2': ($grad-steel-flying),
		'ghost2': ($grad-steel-ghost),
		'grass2': ($grad-steel-grass),
		'ground2': ($grad-steel-ground),
		'ice2': ($grad-steel-ice),
		'normal2': ($grad-steel-normal),
		'poison2': ($grad-steel-poison),
		'psychic2': ($grad-steel-psychic),
		'rock2': ($grad-steel-rock),
		'water2': ($grad-steel-water)
	),
	'water1': (
		'undefined2': ($grad-water-water),
		'bug2': ($grad-water-bug),
		'dark2': ($grad-water-dark),
		'dragon2': ($grad-water-dragon),
		'electric2': ($grad-water-electric),
		'fairy2': ($grad-water-fairy),
		'fighting2': ($grad-water-fighting),
		'fire2': ($grad-water-fire),
		'flying2': ($grad-water-flying),
		'ghost2': ($grad-water-ghost),
		'grass2': ($grad-water-grass),
		'ground2': ($grad-water-ground),
		'ice2': ($grad-water-ice),
		'normal2': ($grad-water-normal),
		'poison2': ($grad-water-poison),
		'psychic2': ($grad-water-psychic),
		'rock2': ($grad-water-rock),
		'steel2': ($grad-water-steel)
	)
);