@import 'variables';

// GRADIENTS
$grad-bug-normal:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(207, 9%, 60%) 100%));
$grad-bug-bug:					(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(147, 100%, 29%) 100%));
$grad-bug-dark:					(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(103deg 63% 30%) 20%, hsl(168deg 70% 24%) 40%, hsl(201deg 23% 35%) 60%, hsl(262deg 12% 39%) 80%, hsl(267, 10%, 36%) 100%));
$grad-bug-dragon:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(208, 91%, 40%) 100%));
$grad-bug-electric:			(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(49, 89%, 59%) 100%));
$grad-bug-fairy:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(60deg 54% 51%) 33%, hsl(44deg 84% 66%) 50%, hsl(4deg 100% 79%) 67%, hsl(303, 71%, 75%) 100%));
$grad-bug-fighting:			(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(342, 59%, 53%) 100%));
$grad-bug-fire:					(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-bug-flying:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(155deg 40% 52%) 39%, hsl(189deg 40% 56%) 61%, hsl(221, 52%, 72%) 100%));
$grad-bug-ghost:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(225, 36%, 50%) 100%));
$grad-bug-grass:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(114, 41%, 55%) 100%));
$grad-bug-ground:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(20, 67%, 57%) 100%));
$grad-bug-ice: 					(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(170, 48%, 63%) 100%));
$grad-bug-poison: 			(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(144deg 49% 54%) 33%,hsl(186deg 100% 40%) 50%,hsl(212deg 69% 62%) 67%, hsl(281, 47%, 60%) 100%));
$grad-bug-psychic:			(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(357, 92%, 71%) 100%));
$grad-bug-rock:					(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(43, 36%, 66%) 100%));
$grad-bug-steel:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(195, 29%, 49%) 100%));
$grad-bug-water:				(linear-gradient(30deg, hsl(79, 63%, 46%) 0%, hsl(211, 63%, 57%) 100%));

$grad-dark-normal:			(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(207, 9%, 60%) 100%));
$grad-dark-bug:					(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(262deg 12% 39%) 20%, hsl(201deg 23% 35%) 40%, hsl(168deg 70% 24%) 60%, hsl(103deg 63% 30%) 80%, hsl(79, 63%, 46%) 100%));
$grad-dark-dark:				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(267, 10%, 36%) 100%));
$grad-dark-dragon:			(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(208, 91%, 40%) 100%));
$grad-dark-electric:		(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(49, 89%, 59%) 100%));
$grad-dark-fairy:				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(303, 71%, 75%) 100%));
$grad-dark-fighting:		(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(342, 59%, 53%) 100%));
$grad-dark-fire:				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-dark-flying:			(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(221, 52%, 72%) 100%));
$grad-dark-ghost:				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(225, 36%, 50%) 100%));
$grad-dark-grass:				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(114, 41%, 55%) 100%));
$grad-dark-ground:			(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(20, 67%, 57%) 100%));
$grad-dark-ice: 				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(170, 48%, 63%) 100%));
$grad-dark-poison: 			(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(281, 47%, 60%) 100%));
$grad-dark-psychic:			(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(357, 92%, 71%) 100%));
$grad-dark-rock:				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(43, 36%, 66%) 100%));
$grad-dark-steel:				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(195, 29%, 49%) 100%));
$grad-dark-water:				(linear-gradient(30deg, hsl(267, 10%, 36%) 0%, hsl(211, 63%, 57%) 100%));

$grad-dragon-normal:		(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(207, 9%, 60%) 100%));
$grad-dragon-bug:				(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(79, 63%, 46%) 100%));
$grad-dragon-dark:			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(267, 10%, 36%) 100%));
$grad-dragon-dragon:		(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(208, 91%, 40%) 100%));
$grad-dragon-electric:	(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(49, 89%, 59%) 100%));
$grad-dragon-fairy:			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(303, 71%, 75%) 100%));
$grad-dragon-fighting:	(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(342, 59%, 53%) 100%));
$grad-dragon-fire:			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-dragon-flying:		(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(221, 52%, 72%) 100%));
$grad-dragon-ghost:			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(225, 36%, 50%) 100%));
$grad-dragon-grass:			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(114, 41%, 55%) 100%));
$grad-dragon-ground:		(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(20, 67%, 57%) 100%));
$grad-dragon-ice: 			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(170, 48%, 63%) 100%));
$grad-dragon-poison: 		(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(281, 47%, 60%) 100%));
$grad-dragon-psychic:		(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(357, 92%, 71%) 100%));
$grad-dragon-rock:			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(43, 36%, 66%) 100%));
$grad-dragon-steel:			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(195, 29%, 49%) 100%));
$grad-dragon-water:			(linear-gradient(30deg, hsl(208, 91%, 40%) 0%, hsl(211, 63%, 57%) 100%));

$grad-electric-normal:	(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(207, 9%, 60%) 100%));
$grad-electric-bug:			(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(79, 63%, 46%) 100%));
$grad-electric-dark:		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(267, 10%, 36%) 100%));
$grad-electric-dragon:	(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(208, 91%, 40%) 100%));
$grad-electric-electric:(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(36, 100%, 50%) 100%));
$grad-electric-fairy:		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(303, 71%, 75%) 100%));
$grad-electric-fighting:(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(342, 59%, 53%) 100%));
$grad-electric-fire:		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-electric-flying:	(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(221, 52%, 72%) 100%));
$grad-electric-ghost:		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(225, 36%, 50%) 100%));
$grad-electric-grass:		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(114, 41%, 55%) 100%));
$grad-electric-ground:	(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(20, 67%, 57%) 100%));
$grad-electric-ice: 		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(170, 48%, 63%) 100%));
$grad-electric-poison: 	(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(281, 47%, 60%) 100%));
$grad-electric-psychic:	(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(357, 92%, 71%) 100%));
$grad-electric-rock:		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(43, 36%, 66%) 100%));
$grad-electric-steel:		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(112deg 47% 62%) 39%, hsl(173deg 58% 44%) 61%, hsl(195, 29%, 49%) 100%));
$grad-electric-water:		(linear-gradient(30deg, hsl(49, 89%, 59%) 0%, hsl(211, 63%, 57%) 100%));

$grad-fairy-normal:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(207, 9%, 60%) 100%));
$grad-fairy-bug:				(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(21deg 100% 74%) 39%, hsl(54deg 62% 56%) 61%, hsl(79, 63%, 46%) 100%));
$grad-fairy-dark:				(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(267, 10%, 36%) 100%));
$grad-fairy-dragon:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(208, 91%, 40%) 100%));
$grad-fairy-electric:		(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(49, 89%, 59%) 100%));
$grad-fairy-fairy:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(296, 75%, 45%) 100%));
$grad-fairy-fighting:		(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(342, 59%, 53%) 100%));
$grad-fairy-fire:				(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-fairy-flying:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(221, 52%, 72%) 100%));
$grad-fairy-ghost:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(225, 36%, 50%) 100%));
$grad-fairy-grass:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(114, 41%, 55%) 100%));
$grad-fairy-ground:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(20, 67%, 57%) 100%));
$grad-fairy-ice: 				(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(170, 48%, 63%) 100%));
$grad-fairy-poison: 		(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(281, 47%, 60%) 100%));
$grad-fairy-psychic:		(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(357, 92%, 71%) 100%));
$grad-fairy-rock:				(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(43, 36%, 66%) 100%));
$grad-fairy-steel:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(195, 29%, 49%) 100%));
$grad-fairy-water:			(linear-gradient(30deg, hsl(303, 71%, 75%) 0%, hsl(211, 63%, 57%) 100%));

$grad-fighting-normal:	(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(207, 9%, 60%) 100%));
$grad-fighting-bug:			(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(79, 63%, 46%) 100%));
$grad-fighting-dark:		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(267, 10%, 36%) 100%));
$grad-fighting-dragon:	(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(208, 91%, 40%) 100%));
$grad-fighting-electric:(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(49, 89%, 59%) 100%));
$grad-fighting-fairy:		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(303, 71%, 75%) 100%));
$grad-fighting-fighting:(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(340, 87%, 37%) 100%));
$grad-fighting-fire:		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-fighting-flying:	(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(221, 52%, 72%) 100%));
$grad-fighting-ghost:		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(225, 36%, 50%) 100%));
$grad-fighting-grass:		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(114, 41%, 55%) 100%));
$grad-fighting-ground:	(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(20, 67%, 57%) 100%));
$grad-fighting-ice: 		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(170, 48%, 63%) 100%));
$grad-fighting-poison: 	(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(281, 47%, 60%) 100%));
$grad-fighting-psychic:	(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(357, 92%, 71%) 100%));
$grad-fighting-rock:		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(43, 36%, 66%) 100%));
$grad-fighting-steel:		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(195, 29%, 49%) 100%));
$grad-fighting-water:		(linear-gradient(30deg, hsl(342, 59%, 53%) 0%, hsl(211, 63%, 57%) 100%));

$grad-fire-normal:			(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(207, 9%, 60%) 100%));
$grad-fire-bug:					(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(79, 63%, 46%) 100%));
$grad-fire-dark:				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(267, 10%, 36%) 100%));
$grad-fire-dragon:			(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(208, 91%, 40%) 100%));
$grad-fire-electric:		(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(49, 89%, 59%) 100%));
$grad-fire-fairy:				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(303, 71%, 75%) 100%));
$grad-fire-fighting:		(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(342, 59%, 53%) 100%));
$grad-fire-fire:				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(4, 90%, 58%) 100%)); 
$grad-fire-flying:			(linear-gradient(30deg, hsl(26, 99%, 66%) 0%,  hsl(14deg 98% 71%) 13%, hsl(0deg 79% 74%) 25%, hsl(340deg 100% 76%) 37%, hsl(317deg 93% 77%) 50%, hsl(297deg 69% 73%) 63%, hsl(274deg 85% 76%) 75%, hsl(242deg 74% 78%) 87%, hsl(221, 52%, 72%) 100%));
$grad-fire-ghost:				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(225, 36%, 50%) 100%));
$grad-fire-grass:				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(114, 41%, 55%) 100%));
$grad-fire-ground:			(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(20, 67%, 57%) 100%));
$grad-fire-ice: 				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(170, 48%, 63%) 100%));
$grad-fire-poison:	 		(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(281, 47%, 60%) 100%));
$grad-fire-psychic:			(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(357, 92%, 71%) 100%));
$grad-fire-rock:				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(43, 36%, 66%) 100%));
$grad-fire-steel:				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(195, 29%, 49%) 100%));
$grad-fire-water:				(linear-gradient(30deg, hsl(26, 99%, 66%) 0%, hsl(211, 63%, 57%) 100%));

$grad-flying-normal:		(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(207, 9%, 60%) 100%));
$grad-flying-bug:				(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(79, 63%, 46%) 100%));
$grad-flying-dark:			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(267, 10%, 36%) 100%));
$grad-flying-dragon:		(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(208, 91%, 40%) 100%));
$grad-flying-electric:	(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(49, 89%, 59%) 100%));
$grad-flying-fairy:			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(303, 71%, 75%) 100%));
$grad-flying-fighting:	(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(342, 59%, 53%) 100%));
$grad-flying-fire:			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-flying-flying:		(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(221, 52%, 72%) 100%));
$grad-flying-ghost:			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(225, 36%, 50%) 100%));
$grad-flying-grass:			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(114, 41%, 55%) 100%));
$grad-flying-ground:		(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(20, 67%, 57%) 100%));
$grad-flying-ice: 			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(170, 48%, 63%) 100%));
$grad-flying-poison: 		(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(281, 47%, 60%) 100%));
$grad-flying-psychic:		(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(357, 92%, 71%) 100%));
$grad-flying-rock:			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(43, 36%, 66%) 100%));
$grad-flying-steel:			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(195, 29%, 49%) 100%));
$grad-flying-water:			(linear-gradient(30deg, hsl(221, 52%, 72%) 0%, hsl(211, 63%, 57%) 100%));

$grad-ghost-normal:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(207, 9%, 60%) 100%));
$grad-ghost-bug:				(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(79, 63%, 46%) 100%));
$grad-ghost-dark:				(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(267, 10%, 36%) 100%));
$grad-ghost-dragon:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(208, 91%, 40%) 100%));
$grad-ghost-electric:		(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(49, 89%, 59%) 100%));
$grad-ghost-fairy:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(303, 71%, 75%) 100%));
$grad-ghost-fighting:		(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(342, 59%, 53%) 100%));
$grad-ghost-fire:				(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-ghost-flying:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(221, 52%, 72%) 100%));
$grad-ghost-ghost:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(225, 36%, 50%) 100%));
$grad-ghost-grass:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(114, 41%, 55%) 100%));
$grad-ghost-ground:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(20, 67%, 57%) 100%));
$grad-ghost-ice: 				(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(170, 48%, 63%) 100%));
$grad-ghost-poison: 		(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(281, 47%, 60%) 100%));
$grad-ghost-psychic:		(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(357, 92%, 71%) 100%));
$grad-ghost-rock:				(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(43, 36%, 66%) 100%));
$grad-ghost-steel:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(195, 29%, 49%) 100%));
$grad-ghost-water:			(linear-gradient(30deg, hsl(225, 36%, 50%) 0%, hsl(211, 63%, 57%) 100%));

$grad-grass-normal:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(207, 9%, 60%) 100%));
$grad-grass-bug:				(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(79, 63%, 46%) 100%));
$grad-grass-dark:				(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(267, 10%, 36%) 100%));
$grad-grass-dragon:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(208, 91%, 40%) 100%));
$grad-grass-electric:		(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(49, 89%, 59%) 100%));
$grad-grass-fairy:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(303, 71%, 75%) 100%));
$grad-grass-fighting:		(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(342, 59%, 53%) 100%));
$grad-grass-fire:				(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-grass-flying:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(221, 52%, 72%) 100%));
$grad-grass-ghost:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(225, 36%, 50%) 100%));
$grad-grass-grass:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(135deg 45% 42%) 50%, hsl(153deg 92% 25%) 100%));
$grad-grass-ground:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(20, 67%, 57%) 100%));
$grad-grass-ice: 				(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(170, 48%, 63%) 100%));
$grad-grass-poison: 		(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(165deg 100% 36%) 24%, hsl(178deg 83% 37%) 35%, hsl(196deg 43% 52%) 45%, hsl(211deg 40% 58%) 55%, hsl(230deg 42% 63%) 65%, hsl(254deg, 45%, 64%) 76%, hsl(281, 47%, 60%) 100%));
$grad-grass-psychic:		(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(357, 92%, 71%) 100%));
$grad-grass-rock:				(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(43, 36%, 66%) 100%));
$grad-grass-steel:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(195, 29%, 49%) 100%));
$grad-grass-water:			(linear-gradient(30deg, hsl(114, 41%, 55%) 0%, hsl(211, 63%, 57%) 100%));

$grad-ground-normal:		(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(207, 9%, 60%) 100%));
$grad-ground-bug:				(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(79, 63%, 46%) 100%));
$grad-ground-dark:			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(267, 10%, 36%) 100%));
$grad-ground-dragon:		(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(208, 91%, 40%) 100%));
$grad-ground-electric:	(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(49, 89%, 59%) 100%));
$grad-ground-fairy:			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(303, 71%, 75%) 100%));
$grad-ground-fighting:	(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(342, 59%, 53%) 100%));
$grad-ground-fire:			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-ground-flying:		(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(221, 52%, 72%) 100%));
$grad-ground-ghost:			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(225, 36%, 50%) 100%));
$grad-ground-grass:			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(114, 41%, 55%) 100%));
$grad-ground-ground:		(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(20, 83%, 31%) 100%));
$grad-ground-ice: 			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(170, 48%, 63%) 100%));
$grad-ground-poison:	 	(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(281, 47%, 60%) 100%));
$grad-ground-psychic:		(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(357, 92%, 71%) 100%));
$grad-ground-rock:			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(43, 36%, 66%) 100%));
$grad-ground-steel:			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(195, 29%, 49%) 100%));
$grad-ground-water:			(linear-gradient(30deg, hsl(20, 67%, 57%) 0%, hsl(211, 63%, 57%) 100%));

$grad-ice-normal:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(207, 9%, 60%) 100%));
$grad-ice-bug:					(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(79, 63%, 46%) 100%));
$grad-ice-dark:					(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(267, 10%, 36%) 100%));
$grad-ice-dragon:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(208, 91%, 40%) 100%));
$grad-ice-electric:			(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(49, 89%, 59%) 100%));
$grad-ice-fairy:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(303, 71%, 75%) 100%));
$grad-ice-fighting:			(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(342, 59%, 53%) 100%));
$grad-ice-fire:					(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-ice-flying:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(221, 52%, 72%) 100%));
$grad-ice-ghost:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(225, 36%, 50%) 100%));
$grad-ice-grass:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(114, 41%, 55%) 100%));
$grad-ice-ground:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(20, 67%, 57%) 100%));
$grad-ice-ice: 					(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(170, 48%, 63%) 100%));
$grad-ice-poison: 			(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(281, 47%, 60%) 100%));
$grad-ice-psychic:			(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(357, 92%, 71%) 100%));
$grad-ice-rock:					(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(43, 36%, 66%) 100%));
$grad-ice-steel:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(195, 29%, 49%) 100%));
$grad-ice-water:				(linear-gradient(30deg, hsl(170, 48%, 63%) 0%, hsl(211, 63%, 57%) 100%));

$grad-normal-normal:		(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(199, 27%, 30%) 100%));
$grad-normal-bug:				(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(79, 63%, 46%) 100%));
$grad-normal-dark:			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(267, 10%, 36%) 100%));
$grad-normal-dragon:		(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(208, 91%, 40%) 100%));
$grad-normal-electric:	(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(49, 89%, 59%) 100%));
$grad-normal-fairy:			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(303, 71%, 75%) 100%));
$grad-normal-fighting:	(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(342, 59%, 53%) 100%));
$grad-normal-fire:			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-normal-flying:		(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(221, 52%, 72%) 100%));
$grad-normal-ghost:			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(225, 36%, 50%) 100%));
$grad-normal-grass:			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(114, 41%, 55%) 100%));
$grad-normal-ground:		(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(20, 67%, 57%) 100%));
$grad-normal-ice: 			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(170, 48%, 63%) 100%));
$grad-normal-poison: 		(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(281, 47%, 60%) 100%));
$grad-normal-psychic:		(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(357, 92%, 71%) 100%));
$grad-normal-rock:			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(43, 36%, 66%) 100%));
$grad-normal-steel:			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(195, 29%, 49%) 100%));
$grad-normal-water:			(linear-gradient(30deg, hsl(207, 9%, 60%) 0%, hsl(211, 63%, 57%) 100%));

$grad-poison-normal:		(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(207, 9%, 60%) 100%));
$grad-poison-bug:				(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(79, 63%, 46%) 100%));
$grad-poison-dark:			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(267, 10%, 36%) 100%));
$grad-poison-dragon:		(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(208, 91%, 40%) 100%));
$grad-poison-electric:	(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(49, 89%, 59%) 100%));
$grad-poison-fairy:			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(303, 71%, 75%) 100%));
$grad-poison-fighting:	(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(342, 59%, 53%) 100%));
$grad-poison-fire:			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-poison-flying:		(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(221, 52%, 72%) 100%));
$grad-poison-ghost:			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(225, 36%, 50%) 100%));
$grad-poison-grass:			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(254deg, 45%, 64%) 24%, hsl(230deg 42% 63%) 35%, hsl(211deg 40% 58%) 45%, hsl(196deg 43% 52%) 55%, hsl(178deg 83% 37%) 65%, hsl(165deg 100% 36%) 76%, hsl(114, 41%, 55%) 100%));
$grad-poison-ground:		(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(341deg 52% 56%) 33%, hsl(7deg 53% 57%) 67%, hsl(20, 67%, 57%) 100%));
$grad-poison-ice: 			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(170, 48%, 63%) 100%));
$grad-poison-poison: 		(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(262, 52%, 47%) 100%));
$grad-poison-psychic:		(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(357, 92%, 71%) 100%));
$grad-poison-rock:			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(43, 36%, 66%) 100%));
$grad-poison-steel:			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(195, 29%, 49%) 100%));
$grad-poison-water:			(linear-gradient(30deg, hsl(281, 47%, 60%) 0%, hsl(211, 63%, 57%) 100%));

$grad-psychic-normal:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(207, 9%, 60%) 100%));
$grad-psychic-bug:			(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(79, 63%, 46%) 100%));
$grad-psychic-dark:			(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(267, 10%, 36%) 100%));
$grad-psychic-dragon:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(208, 91%, 40%) 100%));
$grad-psychic-electric:	(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(49, 89%, 59%) 100%));
$grad-psychic-fairy:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(303, 71%, 75%) 100%));
$grad-psychic-fighting:	(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(342, 59%, 53%) 100%));
$grad-psychic-fire:			(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-psychic-flying:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(221, 52%, 72%) 100%));
$grad-psychic-ghost:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(225, 36%, 50%) 100%));
$grad-psychic-grass:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(114, 41%, 55%) 100%));
$grad-psychic-ground:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(20, 67%, 57%) 100%));
$grad-psychic-ice: 			(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(170, 48%, 63%) 100%));
$grad-psychic-poison: 	(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(281, 47%, 60%) 100%));
$grad-psychic-psychic:	(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(338, 89%, 39%) 100%));
$grad-psychic-rock:			(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(43, 36%, 66%) 100%));
$grad-psychic-steel:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(195, 29%, 49%) 100%));
$grad-psychic-water:		(linear-gradient(30deg, hsl(357, 92%, 71%) 0%, hsl(211, 63%, 57%) 100%));

$grad-rock-normal:			(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(207, 9%, 60%) 100%));
$grad-rock-bug:					(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(79, 63%, 46%) 100%));
$grad-rock-dark:				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(267, 10%, 36%) 100%));
$grad-rock-dragon:			(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(208, 91%, 40%) 100%));
$grad-rock-electric:		(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(49, 89%, 59%) 100%));
$grad-rock-fairy:				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(303, 71%, 75%) 100%));
$grad-rock-fighting:		(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(342, 59%, 53%) 100%));
$grad-rock-fire:				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-rock-flying:			(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(221, 52%, 72%) 100%));
$grad-rock-ghost:				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(225, 36%, 50%) 100%));
$grad-rock-grass:				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(114, 41%, 55%) 100%));
$grad-rock-ground:			(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(20, 67%, 57%) 100%));
$grad-rock-ice: 				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(170, 48%, 63%) 100%));
$grad-rock-poison: 			(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(281, 47%, 60%) 100%));
$grad-rock-psychic:			(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(357, 92%, 71%) 100%));
$grad-rock-rock:				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(43, 36%, 66%) 100%));
$grad-rock-steel:				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(195, 29%, 49%) 100%));
$grad-rock-water:				(linear-gradient(30deg, hsl(43, 36%, 66%) 0%, hsl(211, 63%, 57%) 100%));

$grad-steel-normal:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(207, 9%, 60%) 100%));
$grad-steel-bug:				(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(79, 63%, 46%) 100%));
$grad-steel-dark:				(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(267, 10%, 36%) 100%));
$grad-steel-dragon:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(208, 91%, 40%) 100%));
$grad-steel-electric:		(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(49, 89%, 59%) 100%));
$grad-steel-fairy:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(303, 71%, 75%) 100%));
$grad-steel-fighting:		(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(342, 59%, 53%) 100%));
$grad-steel-fire:				(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-steel-flying:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(221, 52%, 72%) 100%));
$grad-steel-ghost:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(225, 36%, 50%) 100%));
$grad-steel-grass:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(114, 41%, 55%) 100%));
$grad-steel-ground:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(20, 67%, 57%) 100%));
$grad-steel-ice: 				(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(170, 48%, 63%) 100%));
$grad-steel-poison: 		(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(281, 47%, 60%) 100%));
$grad-steel-psychic:		(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(357, 92%, 71%) 100%));
$grad-steel-rock:				(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(43, 36%, 66%) 100%));
$grad-steel-steel:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(195, 29%, 49%) 100%));
$grad-steel-water:			(linear-gradient(30deg, hsl(195, 29%, 49%) 0%, hsl(211, 63%, 57%) 100%));

$grad-water-normal:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(207, 9%, 60%) 100%));
$grad-water-bug:				(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(79, 63%, 46%) 100%));
$grad-water-dark:				(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(267, 10%, 36%) 100%));
$grad-water-dragon:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(208, 91%, 40%) 100%));
$grad-water-electric:		(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(49, 89%, 59%) 100%));
$grad-water-fairy:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(303, 71%, 75%) 100%));
$grad-water-fighting:		(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(342, 59%, 53%) 100%));
$grad-water-fire:				(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(26, 99%, 66%) 100%)); 
$grad-water-flying:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(221, 52%, 72%) 100%));
$grad-water-ghost:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(225, 36%, 50%) 100%));
$grad-water-grass:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(114, 41%, 55%) 100%));
$grad-water-ground:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(20, 67%, 57%) 100%));
$grad-water-ice: 				(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(170, 48%, 63%) 100%));
$grad-water-poison:	 		(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(281, 47%, 60%) 100%));
$grad-water-psychic:		(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(357, 92%, 71%) 100%));
$grad-water-rock:				(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(43, 36%, 66%) 100%));
$grad-water-steel:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(195, 29%, 49%) 100%));
$grad-water-water:			(linear-gradient(30deg, hsl(211, 63%, 57%) 0%, hsl(233, 81%, 47%) 100%));

$doubleTypes: (
	'bug': (
		'': ($grad-bug-bug),
		'undefined': ($grad-bug-bug),
		'dark': ($grad-bug-dark),
		'dragon': ($grad-bug-dragon),
		'electric': ($grad-bug-electric),
		'fairy': ($grad-bug-fairy),
		'fighting': ($grad-bug-fighting),
		'fire': ($grad-bug-fire),
		'flying': ($grad-bug-flying),
		'ghost': ($grad-bug-ghost),
		'grass': ($grad-bug-grass),
		'ground': ($grad-bug-ground),
		'ice': ($grad-bug-ice),
		'normal': ($grad-bug-normal),
		'poison': ($grad-bug-poison),
		'psychic': ($grad-bug-psychic),
		'rock': ($grad-bug-rock),
		'steel': ($grad-bug-steel),
		'water': ($grad-bug-water)
	),
	'dark': (
		'': ($grad-dark-dark),
		'undefined': ($grad-dark-dark),
		'bug': ($grad-dark-bug),
		'dragon': ($grad-dark-dragon),
		'electric': ($grad-dark-electric),
		'fairy': ($grad-dark-fairy),
		'fighting': ($grad-dark-fighting),
		'fire': ($grad-dark-fire),
		'flying': ($grad-dark-flying),
		'ghost': ($grad-dark-ghost),
		'grass': ($grad-dark-grass),
		'ground': ($grad-dark-ground),
		'ice': ($grad-dark-ice),
		'normal': ($grad-dark-normal),
		'poison': ($grad-dark-poison),
		'psychic': ($grad-dark-psychic),
		'rock': ($grad-dark-rock),
		'steel': ($grad-dark-steel),
		'water': ($grad-dark-water)
	),
	'dragon': (
		'': ($grad-dragon-dragon),
		'undefined': ($grad-dragon-dragon),
		'bug': ($grad-dragon-bug),
		'dark': ($grad-dragon-dark),
		'electric': ($grad-dragon-electric),
		'fairy': ($grad-dragon-fairy),
		'fighting': ($grad-dragon-fighting),
		'fire': ($grad-dragon-fire),
		'flying': ($grad-dragon-flying),
		'ghost': ($grad-dragon-ghost),
		'grass': ($grad-dragon-grass),
		'ground': ($grad-dragon-ground),
		'ice': ($grad-dragon-ice),
		'normal': ($grad-dragon-normal),
		'poison': ($grad-dragon-poison),
		'psychic': ($grad-dragon-psychic),
		'rock': ($grad-dragon-rock),
		'steel': ($grad-dragon-steel),
		'water': ($grad-dragon-water)
	),
	'electric': (
		'': ($grad-electric-electric),
		'undefined': ($grad-electric-electric),
		'bug': ($grad-electric-bug),
		'dark': ($grad-electric-dark),
		'dragon': ($grad-electric-dragon),
		'fairy': ($grad-electric-fairy),
		'fighting': ($grad-electric-fighting),
		'fire': ($grad-electric-fire),
		'flying': ($grad-electric-flying),
		'ghost': ($grad-electric-ghost),
		'grass': ($grad-electric-grass),
		'ground': ($grad-electric-ground),
		'ice': ($grad-electric-ice),
		'normal': ($grad-electric-normal),
		'poison': ($grad-electric-poison),
		'psychic': ($grad-electric-psychic),
		'rock': ($grad-electric-rock),
		'steel': ($grad-electric-steel),
		'water': ($grad-electric-water)
	),
	'fairy': (
		'': ($grad-fairy-fairy),
		'undefined': ($grad-fairy-fairy),
		'bug': ($grad-fairy-bug),
		'dark': ($grad-fairy-dark),
		'dragon': ($grad-fairy-dragon),
		'electric': ($grad-fairy-electric),
		'fighting': ($grad-fairy-fighting),
		'fire': ($grad-fairy-fire),
		'flying': ($grad-fairy-flying),
		'ghost': ($grad-fairy-ghost),
		'grass': ($grad-fairy-grass),
		'ground': ($grad-fairy-ground),
		'ice': ($grad-fairy-ice),
		'normal': ($grad-fairy-normal),
		'poison': ($grad-fairy-poison),
		'psychic': ($grad-fairy-psychic),
		'rock': ($grad-fairy-rock),
		'steel': ($grad-fairy-steel),
		'water': ($grad-fairy-water)
	),
	'fighting': (
		'': ($grad-fighting-fighting),
		'undefined': ($grad-fighting-fighting),
		'bug': ($grad-fighting-bug),
		'dark': ($grad-fighting-dark),
		'dragon': ($grad-fighting-dragon),
		'electric': ($grad-fighting-electric),
		'fairy': ($grad-fighting-fairy),
		'fire': ($grad-fighting-fire),
		'flying': ($grad-fighting-flying),
		'ghost': ($grad-fighting-ghost),
		'grass': ($grad-fighting-grass),
		'ground': ($grad-fighting-ground),
		'ice': ($grad-fighting-ice),
		'normal': ($grad-fighting-normal),
		'poison': ($grad-fighting-poison),
		'psychic': ($grad-fighting-psychic),
		'rock': ($grad-fighting-rock),
		'steel': ($grad-fighting-steel),
		'water': ($grad-fighting-water)
	),
	'fire': (
		'': ($grad-fire-fire),
		'undefined': ($grad-fire-fire),
		'bug': ($grad-fire-bug),
		'dark': ($grad-fire-dark),
		'dragon': ($grad-fire-dragon),
		'electric': ($grad-fire-electric),
		'fairy': ($grad-fire-fairy),
		'fighting': ($grad-fire-fighting),
		'flying': ($grad-fire-flying),
		'ghost': ($grad-fire-ghost),
		'grass': ($grad-fire-grass),
		'ground': ($grad-fire-ground),
		'ice': ($grad-fire-ice),
		'normal': ($grad-fire-normal),
		'poison': ($grad-fire-poison),
		'psychic': ($grad-fire-psychic),
		'rock': ($grad-fire-rock),
		'steel': ($grad-fire-steel),
		'water': ($grad-fire-water)
	),
	'flying': (
		'': ($grad-flying-flying),
		'undefined': ($grad-flying-flying),
		'bug': ($grad-flying-bug),
		'dark': ($grad-flying-dark),
		'dragon': ($grad-flying-dragon),
		'electric': ($grad-flying-electric),
		'fairy': ($grad-flying-fairy),
		'fighting': ($grad-flying-fighting),
		'fire': ($grad-flying-fire),
		'ghost': ($grad-flying-ghost),
		'grass': ($grad-flying-grass),
		'ground': ($grad-flying-ground),
		'ice': ($grad-flying-ice),
		'normal': ($grad-flying-normal),
		'poison': ($grad-flying-poison),
		'psychic': ($grad-flying-psychic),
		'rock': ($grad-flying-rock),
		'steel': ($grad-flying-steel),
		'water': ($grad-flying-water)
	),
	'ghost': (
		'': ($grad-ghost-ghost),
		'undefined': ($grad-ghost-ghost),
		'bug': ($grad-ghost-bug),
		'dark': ($grad-ghost-dark),
		'dragon': ($grad-ghost-dragon),
		'electric': ($grad-ghost-electric),
		'fairy': ($grad-ghost-fairy),
		'fighting': ($grad-ghost-fighting),
		'fire': ($grad-ghost-fire),
		'flying': ($grad-ghost-flying),
		'grass': ($grad-ghost-grass),
		'ground': ($grad-ghost-ground),
		'ice': ($grad-ghost-ice),
		'normal': ($grad-ghost-normal),
		'poison': ($grad-ghost-poison),
		'psychic': ($grad-ghost-psychic),
		'rock': ($grad-ghost-rock),
		'steel': ($grad-ghost-steel),
		'water': ($grad-ghost-water)
	),
	'grass': (
		'': ($grad-grass-grass),
		'undefined': ($grad-grass-grass),
		'bug': ($grad-grass-bug),
		'dark': ($grad-grass-dark),
		'dragon': ($grad-grass-dragon),
		'electric': ($grad-grass-electric),
		'fairy': ($grad-grass-fairy),
		'fighting': ($grad-grass-fighting),
		'fire': ($grad-grass-fire),
		'flying': ($grad-grass-flying),
		'ghost': ($grad-grass-ghost),
		'ground': ($grad-grass-ground),
		'ice': ($grad-grass-ice),
		'normal': ($grad-grass-normal),
		'poison': ($grad-grass-poison),
		'psychic': ($grad-grass-psychic),
		'rock': ($grad-grass-rock),
		'steel': ($grad-grass-steel),
		'water': ($grad-grass-water)
	),
	'ground': (
		'': ($grad-ground-ground),
		'undefined': ($grad-ground-ground),
		'bug': ($grad-ground-bug),
		'dark': ($grad-ground-dark),
		'dragon': ($grad-ground-dragon),
		'electric': ($grad-ground-electric),
		'fairy': ($grad-ground-fairy),
		'fighting': ($grad-ground-fighting),
		'fire': ($grad-ground-fire),
		'flying': ($grad-ground-flying),
		'ghost': ($grad-ground-ghost),
		'grass': ($grad-ground-grass),
		'ice': ($grad-ground-ice),
		'normal': ($grad-ground-normal),
		'poison': ($grad-ground-poison),
		'psychic': ($grad-ground-psychic),
		'rock': ($grad-ground-rock),
		'steel': ($grad-ground-steel),
		'water': ($grad-ground-water)
	),
	'ice': (
		'': ($grad-ice-ice),
		'undefined': ($grad-ice-ice),
		'bug': ($grad-ice-bug),
		'dark': ($grad-ice-dark),
		'dragon': ($grad-ice-dragon),
		'electric': ($grad-ice-electric),
		'fairy': ($grad-ice-fairy),
		'fighting': ($grad-ice-fighting),
		'fire': ($grad-ice-fire),
		'flying': ($grad-ice-flying),
		'ghost': ($grad-ice-ghost),
		'grass': ($grad-ice-grass),
		'ground': ($grad-ice-ground),
		'normal': ($grad-ice-normal),
		'poison': ($grad-ice-poison),
		'psychic': ($grad-ice-psychic),
		'rock': ($grad-ice-rock),
		'steel': ($grad-ice-steel),
		'water': ($grad-ice-water)
	),
	'normal': (
		'': ($grad-normal-normal),
		'undefined': ($grad-normal-normal),
		'bug': ($grad-normal-bug),
		'dark': ($grad-normal-dark),
		'dragon': ($grad-normal-dragon),
		'electric': ($grad-normal-electric),
		'fairy': ($grad-normal-fairy),
		'fighting': ($grad-normal-fighting),
		'fire': ($grad-normal-fire),
		'flying': ($grad-normal-flying),
		'ghost': ($grad-normal-ghost),
		'grass': ($grad-normal-grass),
		'ground': ($grad-normal-ground),
		'ice': ($grad-normal-ice),
		'poison': ($grad-normal-poison),
		'psychic': ($grad-normal-psychic),
		'rock': ($grad-normal-rock),
		'steel': ($grad-normal-steel),
		'water': ($grad-normal-water)
	),
	'poison': (
		'': ($grad-poison-poison),
		'undefined': ($grad-poison-poison),
		'bug': ($grad-poison-bug),
		'dark': ($grad-poison-dark),
		'dragon': ($grad-poison-dragon),
		'electric': ($grad-poison-electric),
		'fairy': ($grad-poison-fairy),
		'fighting': ($grad-poison-fighting),
		'fire': ($grad-poison-fire),
		'flying': ($grad-poison-flying),
		'ghost': ($grad-poison-ghost),
		'grass': ($grad-poison-grass),
		'ground': ($grad-poison-ground),
		'ice': ($grad-poison-ice),
		'normal': ($grad-poison-normal),
		'psychic': ($grad-poison-psychic),
		'rock': ($grad-poison-rock),
		'steel': ($grad-poison-steel),
		'water': ($grad-poison-water)
	),
	'psychic': (
		'': ($grad-psychic-psychic),
		'undefined': ($grad-psychic-psychic),
		'bug': ($grad-psychic-bug),
		'dark': ($grad-psychic-dark),
		'dragon': ($grad-psychic-dragon),
		'electric': ($grad-psychic-electric),
		'fairy': ($grad-psychic-fairy),
		'fighting': ($grad-psychic-fighting),
		'fire': ($grad-psychic-fire),
		'flying': ($grad-psychic-flying),
		'ghost': ($grad-psychic-ghost),
		'grass': ($grad-psychic-grass),
		'ground': ($grad-psychic-ground),
		'ice': ($grad-psychic-ice),
		'normal': ($grad-psychic-normal),
		'poison': ($grad-psychic-poison),
		'rock': ($grad-psychic-rock),
		'steel': ($grad-psychic-steel),
		'water': ($grad-psychic-water)
	),
	'rock': (
		'': ($grad-rock-rock),
		'undefined': ($grad-rock-rock),
		'bug': ($grad-rock-bug),
		'dark': ($grad-rock-dark),
		'dragon': ($grad-rock-dragon),
		'electric': ($grad-rock-electric),
		'fairy': ($grad-rock-fairy),
		'fighting': ($grad-rock-fighting),
		'fire': ($grad-rock-fire),
		'flying': ($grad-rock-flying),
		'ghost': ($grad-rock-ghost),
		'grass': ($grad-rock-grass),
		'ground': ($grad-rock-ground),
		'ice': ($grad-rock-ice),
		'normal': ($grad-rock-normal),
		'poison': ($grad-rock-poison),
		'psychic': ($grad-rock-psychic),
		'steel': ($grad-rock-steel),
		'water': ($grad-rock-water)
	),
	'steel': (
		'': ($grad-steel-steel),
		'undefined': ($grad-steel-steel),
		'bug': ($grad-steel-bug),
		'dark': ($grad-steel-dark),
		'dragon': ($grad-steel-dragon),
		'electric': ($grad-steel-electric),
		'fairy': ($grad-steel-fairy),
		'fighting': ($grad-steel-fighting),
		'fire': ($grad-steel-fire),
		'flying': ($grad-steel-flying),
		'ghost': ($grad-steel-ghost),
		'grass': ($grad-steel-grass),
		'ground': ($grad-steel-ground),
		'ice': ($grad-steel-ice),
		'normal': ($grad-steel-normal),
		'poison': ($grad-steel-poison),
		'psychic': ($grad-steel-psychic),
		'rock': ($grad-steel-rock),
		'water': ($grad-steel-water)
	),
	'water': (
		'': ($grad-water-water), 
		'undefined': ($grad-water-water),
		'bug': ($grad-water-bug),
		'dark': ($grad-water-dark),
		'dragon': ($grad-water-dragon),
		'electric': ($grad-water-electric),
		'fairy': ($grad-water-fairy),
		'fighting': ($grad-water-fighting),
		'fire': ($grad-water-fire),
		'flying': ($grad-water-flying),
		'ghost': ($grad-water-ghost),
		'grass': ($grad-water-grass),
		'ground': ($grad-water-ground),
		'ice': ($grad-water-ice),
		'normal': ($grad-water-normal),
		'poison': ($grad-water-poison),
		'psychic': ($grad-water-psychic),
		'rock': ($grad-water-rock),
		'steel': ($grad-water-steel)
	)
);