$white: #FFFFFF;
$black: #000000;
$text: #444444;
$text-medgray: #AAAAAA;
$text-ltgray: #777777;

$bug: hsl(79, 63%, 46%);
$dark: hsl(263, 10%, 36%);
$dragon: hsl(208, 90%, 40%);
$electric: hsl(49, 88%, 59%);
$fairy: hsl(302, 69%, 75%);
$fighting: hsl(342, 60%, 53%);
$fire: hsl(26, 98%, 65%);
$flying: hsl(221, 52%, 72%);
$ghost: hsl(225, 36%, 50%);
$grass: hsl(115, 41%, 55%);
$ground: hsl(20, 67%, 57%);
$ice: hsl(170, 48%, 63%);
$normal: hsl(208, 9%, 60%);
$poison: hsl(281, 46%, 60%);
$psychic: hsl(357, 93%, 71%);
$rock:  hsl(42, 36%, 66%);
$steel: hsl(195, 28%, 49%);
$water: hsl(211, 63%, 57%);

// $bug: ;
// $dark: ;
// $dragon: ;
// $electric: ;
// $fairy: ;
// $fighting: ;
// $fire: ;
// $flying: ;
// $ghost: ;
// $grass: ;
// $ground: ;
// $ice: ;
// $normal: ;
// $poison: ;
// $psychic: ;
// $rock: ;
// $steel: ;
// $water: ;

$single-types: (
  'undefined': ($bug),
  'bug': ($bug),
  'dark': ($dark),
  'dragon': ($dragon),
  'electric': ($electric),
  'fairy': ($fairy),
  'fighting': ($fighting),
  'fire': ($fire),
  'flying': ($flying),
  'ghost': ($ghost),
  'grass': ($grass),
  'ground': ($ground),
  'ice': ($ice),
  'normal': ($normal),
  'poison': ($poison),
  'psychic': ($psychic),
  'rock': ($rock),
  'steel': ($steel),
  'water': ($water)
);