@import '../utilities/variables/colors';
@import '../utilities/variables/gradients';
@import '../utilities/variables/variables';

body, html { background-color: $bodyBackground; }

img { max-width: 100%; }

/*********************************************
**********************************************
		 MUI APP BAR
**********************************************
*********************************************/

.MuiAppBar-root {
	border-bottom: 1px solid rgb(237 237 237);
	background: rgb(245 245 245 / 80%);
	backdrop-filter: blur(20px);
}

/*********************************************
**********************************************
			MUI BACKDROP
**********************************************
*********************************************/

.MuiBackdrop-root {
	backdrop-filter: blur(5px);
}

/*********************************************
**********************************************
		 MUI CHIP
**********************************************
*********************************************/

.MuiChip-root {
	height: auto;

	&[data-type] {
		color: $white;
		text-transform: uppercase;
	}

	@each $type in $single-types {
		&[data-type="#{nth($type, 1)}"] {
			background-color: nth($type, 2);
			&::before { background-image: url('/assets/#{nth($type, 1)}.svg'); }
		}
	}

	&.MuiChip-clickable {
		@each $type in $single-types {
			&[data-type="#{nth($type, 1)}"] {
				&:hover { background-color: nth($type, 4); }
			}
		}
	}

	&.MuiChip-sizeMedium {
		padding: 6px 12px;

		&[data-type]::before {
			content: '';
			height: 14px;
			width: 14px;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			margin-right: 6px;
		}

		&.iconChip {
			&[data-type]::before { margin-right: 0; }
		}
	}

	&.MuiChip-sizeSmall {
		padding: 3px 6px;
		
		.MuiChip-label { font-size: 10px; }
	}

	.MuiChip-label { padding: 0; }
}

/*********************************************
**********************************************
		 MUI CARD
**********************************************
*********************************************/
	
.MuiCard-root {
	overflow: visible;
	box-shadow: none;
	transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	position: relative;
	left:0;
	top: 0;
	
	&.clickable:hover {
		left: 10px;
		top: -10px;
	}

	@each $type, $color in $single-types {
		&[data-type-one="#{$type}"].clickable:hover {
			box-shadow:
				rgba($color, 0.4) -5px 5px,
				rgba($color, 0.3) -10px 10px,
				rgba($color, 0.2) -15px 15px,
				rgba($color, 0.1) -20px 20px,
				rgba($color, 0.05) -25px 25px;
		}
	}

	@each $type1, $types in $doubleTypes {
		&[data-type-one="#{$type1}"] {
			@each $type2, $grad in $types {
				@if($type2 == '') {
					background: $grad;
				} @else {
					&[data-type-two="#{$type2}"] {
						background: $grad;
					}
				}
			}
		}
	}

	&[data-type-one] {
		&.quickLink .MuiCardContent-root{
			color: $white;
			font-size: 20px;
			padding: 15px 20px;
		}

		.MuiCardContent-root {
			padding: 10px 10px 5px; 
		}

		.image {
			width: 100px;

			img {
				position: absolute;
				top: -30px;
				width: 100px;
			}
		}

		.details {
			h3, h4, p { color: $white; }

			h3 {
				font-size: 20px;
				margin-bottom: 5px;

				>span {
					font-size: 15px;
					opacity: 0.5;
					padding-right: 5px;

					span {
						font-size: 10px;
						padding-right: 2px;
					}
				}	
			}

			.types { margin-bottom: 10px; }

			.stats {
				display: grid;
				grid-template-columns: repeat(7, minmax(0, 1fr));
				column-gap: 3px;
				text-transform: uppercase;
				justify-items: center;

				>div {
					text-align: center;

					h4 {
						font-size: 7px;
						font-weight: 600;
					}

					p {
						font-size: 12px;
						font-weight: 400;
					}
				}
			}
		}
	}
	&.short .image img { top: -20px; }
}